.Apple{
    color: blueviolet;
    background-color: aquamarine;
}
 .dt{
    color: chocolate;
    background-color: cyan;
    border: none;
 }
 .dttt{
   color: chocolate;
   background-color: black;
 }

 .dtt{
    margin-top: 40px;
  padding: 12px 13px;
  border: none;
  background: #6bf08c;
  color: rgb(255, 0, 0);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
 }


  .ds{
    margin-top: 40px;
  padding: 12px 13px;
  border: none;
  background: #ffb5ec;
  color: rgb(255, 0, 0);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
 }

 .sd{
    color: rgb(0, 0, 0);
 }

 .thri{
  margin: 400px;
  padding: 10px 10px 10px 10px;
  border-radius: 40px;
  border: 4px;
  background-color: rgb(234, 255, 112);
color: rgb(220, 20, 20);
text-align: center;
border-left-color: #9900ff;
 }

/* API DESIGN */

.ip{
   margin: 400px;
  padding: 10px 10px 10px 10px;
  border-radius: 40px;
  border: 4px;
  background-color: rgb(44, 49, 14);
color: rgb(74, 255, 210);
text-align: center;
border-left-color: #c266ff;
}

